@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----- general ----- */

* {
    padding: 0;
    margin: 0;
    border-width: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    line-height: 1.5em;
}

/* ----- nav bar ----- */

.navbar {
    text-decoration: none;
    /* background-color: whitesmoke; */
    background-color: #734a9c; 
    padding: 1em;
}

.navbar a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.05em;
}

.navbar > * {
    margin-right: 2em;
    font-weight: 500;
}

/* ----- bio ----- */

#biography {
    display: flex;
    flex-direction: row;
    padding: none;
    background-color: rgba(248, 202, 237, 0.903);
}

img {
    width: 500;
    height: 600;
    border-radius: 10px;
}

h1 {
    font-size: 3em;
    line-height: 1.3em;
    color: #734a9c; 
}

#bio-description {
    display: flex;
    flex-direction: column;
    padding: 5em;
    /* border: 10px solid black; */
}

#bio-description > * {
    margin-top: 2em;
}

#bio-profile {
    padding: 5em;
    /* border: 10px solid black; */
}

button {
    background-color: #0c0c0c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #734a9c; 
    color: white;
}

/* ----- about ----- */

#about {
    padding: 5em;
}

#about > * {
    padding-top: 1em;
}

/* ----- portfolio ----- */

#portfolio {
    padding-top: 3em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(249, 248, 245);
}

#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-card {
    border-color: black;
    border-width: 2px;
    border-style:dashed;
    padding: 2em;
    margin: 2em;
    min-width: 300px;
}

.project-card > * {
    margin-top: 0.6em;
}

/* ----- smaller desktop & mobile ----- */

@media only screen and (max-width: 800px) {
    #biography {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        /* margin-top: -2em; */
    }

    #about {
        text-align: center;
    }

    #bio-profile {
        display: none;
    }
}
